body {
    background-color: #2C0256;
  }
  
  h1 {
    background-color: #80ced6;
  }
  
  div {
    background-color: #2C0256;
  }
  
  span {
    background-color: #f18973;
  }

  .div1 {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background-color: #2C0256;
  }